<div id="home">

  {{#each user}}

  <nav class="navbar fixed-top">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control rounded" id="searchText" type="search" placeholder="Search for games"
        aria-label="Search">
      <button class="btn btn-primary text-center rounded my-2 my-sm-0" id="searchButton" type="submit"><i
          class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="settings btn text-center rounded my-2 my-sm-0 mr-sm-2"><a
          class="accountButton" data-toggle="modal" data-target="#userModal">Account</a>
      </button>
    </form>

  </nav>

  <div id="header-image" style="background-image: url(./images/pacman-img.jpg); ">
    <h1 class="igame-title text-center text-white"><strong>i<span style="color:#7527FF">GAME</span></strong></h1>
    <h5 class="igame-description text-center text-white">Find your favorite games and tell your friends.</h5>
  </div>

  {{/each}}


  <div class="container-fluid">

    <div class="row pt-7">

      <div class="col-lg-6">
        <input id="basics">

        {{!-- <h1>Game Library</h1> --}}
        <br>

        <div class="wrapper rounded justify-content-between accentColor bg-transparent" id="gamelist-wrapper"
          style="background-color:{{accentcolor}} !important;">

          <button id="left-button">
            <i id="arrow" class="fas fa-angle-double-left"></i>

          </button>
          {{#each games}}
          {{> games/gamelist-block}}
          {{/each}}
          <button id="right-button">
            <i id="arrow" class="fas fa-angle-double-right"></i>

          </button>
        </div>
        <br>
      </div>

      <div class="col-lg-6">
        <div class="wrapper rounded accentColor" style="background-color:{{accentcolor}} !important;"
          id="friendlist-wrapper">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control rounded" id="friendText" type="search" placeholder="Search friend by email"
              aria-label="Search">
            <button class="btn btn-primary text-center rounded my-2 my-sm-0" id="friendButton" type="submit"
              title="Add Friend"><i class="fas fa-plus-circle"></i>
            </button>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="background-color:white">
                Friends
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                {{#each friends}}
                {{> friends/friends-block}}
                {{/each}}
              </div>
            </div>
          </form>

          {{!-- <h4>Requests</h4> --}}
          {{#each friendrequests}}
          {{> friends/friendrequests-block}}
          {{/each}}
          {{> friends/friendlist-block}}
        </div>
      </div>
    </div>
  </div>
  {{> modals/usermodal-block}}

  <div class="modal fade" id="searchModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-center">Search Results</h1>
        </div>
        <div class="modal-body" id="searchModalInsertion">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="friendModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Friend Library</h1>
        </div>
        <div class="modal-body">
          <div id="friendModalInsertion">

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <h6 class="text-center">Copyright © 2019</h6>
</footer>
{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}