
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-light bg-light justify-content-between">
          <form action="/class="form-inline">
            <input class="form-control mr-sm-2" id="searchText" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" id="searchButton" type="submit">Search</button>
          </form>
          <a class="navbar-brand" data-toggle="modal" data-target="#userModal">Account</a>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="wrapper" id="gamelist-wrapper">
          {{#each games}}
            {{> games/gamelist-block}}
          {{/each}}       
        </div>
      </div>
      <div class="col-sm-4">
        <div class="wrapper" id="friendlist-wrapper">
          {{> friends/friendlist-block}}
        </div>
      </div>
    </div>
  </div>
  {{> modals/usermodal-block}}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>