<video autoplay muted loop id="myVideo">
  <source src="./video/background.mp4" type="video/mp4">
</video>

<div class="row mt-5">
    <div class="intro-box col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fa fa-gamepad fa-3x" style="color: #571c79"></i></h1>
            <p>Create an account or login</p>
            <a href="/signup" class="btn btn-primary btn-block mb-2">Signup</a>
            <a href="/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>