<div class="modal fade" id="gameModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Game Title</h4>
            </div>
            <div class="modal-body">
                <img src="http://lorempixel.com/200/300/" alt="Game" class="game-box" id="single-game">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, obcaecati maiores! Ab blanditiis suscipit nisi ea! Nemo sapiente, debitis recusandae eligendi esse architecto tempora sed vel quia ratione repudiandae rerum.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div> 
    </div>
</div>