<div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          {{#each user}}
            <div class="modal-header">
                <h4 class="modal-title">{{userName}}</h4>
            </div>
            <div class="modal-body">
                {{!-- <img src="{{avatar}}" alt="Game" class="game-box" id="single-game"> --}}                
                  <p>Id: {{userID}}</p>
                  <p>Email: {{email}}</p>
            </div>
            <div class="modal-footer">
            <button><a href="/logout" class="btn btn-primary btn-block mb-2">Logout</a></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          {{/each}}
        </div> 
    </div>
</div>