<div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Name</h4>
            </div>
            <div class="modal-body">
                <img src="http://lorempixel.com/200/300/" alt="Game" class="game-box" id="single-game">
                <p>Some junk, or the options for their account</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div> 
    </div>
</div>