<div id="chatbox">
    <div class="chat-title-bg"><h2 class="friend-chat-title text-center">Live Chat</h2></div>
    {{#each user}}
    <div id="chat-window">
        <div id="chat-feedback"></div>
        <div id="chat-output"></div>
    </div>
    {{!-- <div  > --}}
    {{!-- {{name}} --}}
    <input id="chat-name" type="text" placeholder="Name">

    {{!-- </div> --}}
    <input id="chat-message" type="text" placeholder="Message">
    <button id="chat-send-btn" style="background-color: #7527FF"><i class="fa fa-paper-plane" aria-hidden="true"> Send</i>
</button>
    {{/each}}
</div>
{{!-- 
<script src="/js/chat.js"></script> --}}
